= render :partial => "shared/date"

#character
  = image_tag("burt_nude.png")

#figleaf_input.search
  = render :partial => "search/form"

.banner_details.city_results
  .top
  .middle
    .details_content
      = render :partial => 'home/errors' if flash[:errors]
      = render :partial => "home/cities" if @cities
      - if !flash[:errors] && !@cities
        %p If you were Burt, what outfit would you be rocking today?
  .bottom
    
.banner_details.sample_cities
  .top
  .middle
    .details_content
      %h3 Sample Cities
      %ul
        - @home_page_cities.each do |city, code|
          %li
            = link_to city, :controller => "weather", :action => "display", :id => code, :city_name => city
  .bottom