- outfit = Outfit.find(@weather)

= render :partial => "shared/date"

#banner_head.banner
  %h2 
    = @weather.description 
  %p
    = outfit.head.display_text

#banner_neck.banner
  %h2
    = "#{@weather.wind_speed} mph wind"
  %p
    = outfit.neck.display_text
    
#banner_body.banner
  %h2
    = "Feels like #{@weather.feels_like_in_farenheit}ºF"
  %p
    = outfit.body.display_text

.banner_details.weather
  .top
  .middle
    .details_content
      %table
        %tr
          %td Temperature:
          %td.value= "#{@weather.temperature}ºF / #{to_celcius(@weather)}ºC"
        %tr
          %td Wind:
          %td.value= "#{@weather.wind_direction} at #{@weather.wind_speed} mph"
        %tr
          %td Humidity:
          %td.value= "#{@weather.humidity}%"
        %tr
          %td Pressure:
          %td.value= "#{@weather.pressure} in."
        %tr
          %td Dew Point:
          %td.value= "#{@weather.dew_point}°F"
        %tr
          %td Sunrise time:
          %td.value= @weather.sunrise_time
        %tr
          %td Sunset time:
          %td.value= @weather.sunset_time
  .bottom

#character
  = image_tag("burt_nude.png")
  = image_tag("body_#{outfit.body.garment}.png")
  = image_tag("head_#{outfit.head.garment}.png")
  = image_tag("neck_#{outfit.neck.garment}.png")

