<div id='weather'>
  <div class='toolbar'>
    <a class='back'>Back</a>
    <h1><%= @city_name %></h1>
  </div>
  <div id='character_area'>
    <%= image_tag "logo_small.png", :id => "logo" %>
    <div id='character'>
      <%= image_tag "burt_nude.png" %>
      <%= image_tag "body_#{@outfit.body.garment}.png" %>
      <%= image_tag "head_#{@outfit.head.garment}.png" %>
      <%= image_tag "neck_#{@outfit.neck.garment}.png" %>
    </div>
    <div class="banner">
      <h2>Feels like <%= @weather.feels_like_in_farenheit %>ºF / <%= @weather.description %> / <%= @weather.wind_speed %> mph wind</h2>
      <p><%= @outfit.body.display_text %> <%= @outfit.head.display_text %> <%= @outfit.neck.display_text %></p>
    </div>
    <%= image_tag "wwbrw_small.png", :id => "tagline" %>
  </div>
</div>
