= render :partial => "shared/date"

#banner_head.banner
  %h2 
    = @weather.description
  %p
    = "#{head_garment_for(@weather)}!"

#banner_neck.banner
  %h2
    = "#{@weather.wind_speed} mph wind"
  %p
    = "#{neck_garment_for(@weather)}!"
    
#banner_body.banner
  %h2
    = "Feels like #{@weather.feels_like_in_farenheit}ยบ F"
  %p
    = "#{body_garment_for(@weather)}!"

.banner_details
  .details_content
    %table
      %tr
        %td Low:
        %td.value= @weather.low
      %tr
        %td High:
        %td.value= @weather.high
        
#character
  = image_tag("burt_nude.png")
  = image_tag(garment_image_for(@weather, "body"))
  = image_tag(garment_image_for(@weather, "head"))
  = image_tag(garment_image_for(@weather, "neck"))
  