<div id='weather'>
  <div class='toolbar'>
    <a class='back'>Back</a>
    <h1><%= city_name %></h1>
  </div>
  <div id='character_area'>
    <div class="banner">
      <h2>Feels like <%= @weather.feels_like_in_farenheit %>ºF</h2>
      <p><%= outfit.body.display_text %></p>
    </div>
    <div id='character'>
      <img src="/images/burt_nude.png" />
      <img src="/images/body_<%= outfit.body.garment %>.png" />
      <img src="/images/head_<%= outfit.head.garment %>.png" />
      <img src="/images/neck_<%= outfit.neck.garment %>.png" />
    </div>
    <div class="banner">
      <h2><%= weather.description %></h2>
      <p><%= outfit.head.display_text %></p>
    </div>
    <div class="banner">
      <h2><%= weather.wind_speed %> mph wind</h2>
      <p><%= outfit.neck.display_text %></p>
    </div>

  </div>
</div>
