%table
  %tr
    %td Feels Like
    %td= @weather.feels_like_in_farenheit
  %tr
    %td Feels Like Description
    %td= @weather.feels_like_description
  %tr
    %td Low
    %td= @weather.low
  %tr
    %td High
    %td= @weather.high
  %tr
    %td Wind Speed
    %td= @weather.wind_speed
  %tr
    %td Wind Speed Description
    %td= @weather.wind_speed_description
  %tr
    %td Description(Unaltered)
    %td= @weather.description
  %tr
    %td Description Category (for images)
    %td= @weather.description_category