!!! XML
!!! STRICT
%html
  %head
    %title figleaf: What Would Burt Reynolds Wear?
    = stylesheet_link_tag "figleaf"
    /[if lte IE6]
      = stylesheet_link_tag "ie"
  %body
    #header_wrapper
      #header
        = link_to(image_tag("logo.png"), "/", :id => :header)
        = image_tag("wwbrw.png", :id => "tagline")
    #content_wrapper
      #content
        = yield
    #footer_wrapper
      #footer
        - unless @homepage
          .search
            = render :partial => "search/form"

        %p
          Copyright 2009.
          = link_to "@ecomba", "http://www.twitter.com/ecomba"
          ,
          = link_to "@emeyer8thlight", "http://www.twitter.com/emeyer8thlight"
          ,
          = link_to "@paulwpagel", "http://www.twitter.com/paulwpagel"
          ,
          = link_to "@trptcolin", "http://www.twitter.com/trptcolin"
    #ie_message
      You can find find out what Burt Reynolds would wear today by using a modern browser such as:
      %ul
        %li= link_to "Internet Explorer 8", "http://www.microsoft.com/windows/internet-explorer"
        %li= link_to "Mozilla Firefox", "http://www.mozilla.com"
        %li= link_to "Safari", "http://www.apple.com/safari"
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10354001-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>